#mainLogo { display: none!important; }
:root{
    --dose: cute;
    --yellow: #fbc02d;
    --blue: #2196F3;
    --green: #b2f252;
    --red: #ed4242;
}

@font-face {
    font-family:gamefont;
    src:url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2);
}

@font-face {
	font-family:hpammo;
	src:url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2);
}

#initLoader {
  background: #000;
}


/* UI */

#curGameInfo { font-size: 0 }
#curGameInfo::after {
   content: " ";
   font-size: 25px;
   color:#f58a42;
}

.menuClassPlayerClan {
    font-size: 0;
}

.leaderNameM {
    font-size: 0;
}

.leaderNameM::Before {
    content: url()url() " ★";
   font-size: 19px;
   color: white;
}

.settName, .settNameSmall, .setHed, .setBodH, #hostActionH, .mFeatSepar{
    border: hidden!important;
    background: transparent !important;
}

.sliderVal, .selectorItem, .chalCard{
    border: hidden!important;
}

#menuWindowHider div[style="height:15px;margin-top:30px;border-top:4px solid rgba(255, 255, 255, 0.8);"]{
    display: none!important
}

#customizeButton {
    bottom: 210px;
    height: 300px;
    color: transparent!important;
    background-color: transparent!Important;
    box-shadow: none!important;
    top: -250px;
    left: -27px;
    transform: scale(1.3);
    clip-path: polygon(43% 31%, 49% 24%, 69% 26%, 70% 48%, 80% 51%, 85% 59%, 73% 73%, 73% 94%, 40% 96%, 41% 86%, 29% 83%, 29% 73%, 17% 81%, 15% 73%, 20% 74%, 22% 69%, 26% 65%, 28% 51%, 42% 48%, 43% 42%);
}

#menuClassNameTag {
    margin-top: -600px;
    position: absolute;
    text-shadow: none;
    color: #fff;
    z-index: 100;
    font-size: 19px
}

/* health */

#hudClassIcon {
    display: none;
}

#healthValueHolder {
    position: fixed;
    right: calc(52% + 128px);
    bottom: 30px;
    background-color: transparent;
    text-shadow: 2px 2px 0px #000 !important;
    display: none;
}

#healthValue {
    font-size: 64px;
    color: #fff; !important
    text-shadow: 2px 2px 0px #000 !important;
    display: none;
}

#maxHP {
    display: none;
}

.healthBarSeg {
    width        : -webkit-fill-available;
    margin-right : -1px;
    border-radius: unset;
    background   : transparent;
}

#healthBar {
    width         : 380px;
    height        : 20px;
    color	  : red;
    display       : flex;
    flex-direction: none;
    position      : fixed;
    bottom        : 81px;
    left          : 46%;
    transform     : translateX(-50%);
    background-color: rgba(0,0,0,0.4);
    box-shadow: 5px 5px 0 rgba(0,0,0,.3);
}

.healthBarSeg{
    box-shadow: 0 0 black;
    background: transparent;
}

.hpBSeg /* Inner contents aka main healthbar segments */{
    border-radius: 0;
    box-shadow: none;
}

#challIcon {
    transform: translateY(-12px);
    filter: brightness(5);
    margin-left: 12px;
}

/*Ammo*/

#ammoDisplay {
    position: fixed;
    left: calc(53% + 90px);
    bottom: 30px;
    font-size: 64px;
    padding: 0;
    background-position-y: 95px;
    padding-bottom: 12px;
    height: auto;
    width: 200px;
    text-align: end;
    border-radius: 0;
    background-color: transparent;
    background-image: linear-gradient(90deg, var(--accent), var(--accent));
    direction: rtl;
}

#ammoDisplay[style*="background-size: 0%;"] {
    background-size: 100% !important;
}

#ammoVal {
    font-size: 64px;
    color: white;
    text-shadow: 2px 2px 0px #000 !important;
}

#ammoMax {
    display: none;
}

#ammoIcon {
    height: 28px;
    filter: brightness(5);
    margin-left: 0;
    margin-right: -12px;
    display: none;
}

#faceItIconM,#rankedSoonTm,.headerBarRight,#infoHider,#newsHolder,#aHider {
    display:none !important;
}

#killCardHolder {
    bottom: 20px;
}

#reloadMsg {
	bottom: 150px;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

/* Removal */

#ammoIcon {
    display: none!Important;
}

#timerIcon {
    display: none!Important;
}


#aContainer {
    display: none!important;
}


.imageButton {
   display: none!important;
}

.endAHolder {
    display: none!important;
}

#endAContainer {
    display: none!important;
}

#supportMapCreator {
    display: none!important;
}

#supportKrunker {
    display: none;
}

.UIB {
    background-color: transparent !important;
}

.leftUIB {
    background-color: transparent !important;
}

#healthValueHolder {
    background-color: transparent !important;
}

#leaderDisplay {
    background-color: transparent!important;
}

.countIcon {
    background-color: transparent!important;   
}

#merchImg{
	display: none;
}

#policeButton{
    display: none!important;
}

#curGameInfo{
    display: none!important;
}

.weapKey{
    display: none!important;
}

#weapDisplay{
    display: none!important;
}

#reloadMsg {
    background: transparent !important;
}

#streamContainer {
    display: none;
}

.youNewDiv, #updateAd, .helpTxtHol, #tlInfHold {
    display: none;
}

#seasonLabel, #mainLogoFace {
    display: none;
}

/* CHAT */
#chatInput {
    padding: 6px 10px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-radius: 4px;
    border: 0 solid #55555580 !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.chatItem {
    background-color: rgba(0, 0, 0, 0) !important;
    border-radius: 4px;
    border: 0 solid #55555580 !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0);
    font-size: 19px; !important
}

#uiBase.onMenu #voiceDisplay {
    left: 490px;
    bottom: 20px;
}

#voiceDisplay {
    z-index: 2;
    position: absolute;
    left: 360px;
    bottom: 20px;
    margin-left: 10px;
    width: 98px;
    padding: 6px;
    padding-left: 0;
    font-size: 14px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.4);
    border: 2px solid rgba(0,0,0,.1);
    pointer-events: all;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}

/* Watermark! Remove = Gay */

.twitch{
    visibility: hidden;
}

.youtube{
    visibility: hidden;
}

.youtube:after {
     content: 'Made By Envy#3063';
     font-size: 18px;
     position: fixed;
     left: 6%;
     color: rgb(255 255 255 / 0.85);
     visibility: visible;
     text-shadow: none;
}

.twitch{
    visibility: hidden;
}

.twitch:after {
     content: 'Owned By Dose#0001';
     font-size: 18px;
     position: fixed;
     left: 6%;
     color: rgb(255 255 255 / 0.85);
     visibility: visible;
     text-shadow: none;
     display: none;
}

.streamItem{
    visibility: hidden
}


#menuWindow *{
    border: hidden;
}

#loadTipsHolder,
#lC-img,
#loadGamNm,
#aHolder,
#loadEditrBtn,
.lC-l,
.lC-t,
#lC-img,
.lC-b,
.lC-bt,
#bubbleContainer,
.lC-r,
#loadInfoLHolder {
  display: none !important;
}
.lC-sides {
  animation: initial;
  transform-style: preserve-3d;
  transform: initial;
}
#lC-cont {
  display: block;
  width: 300px;
}

#lC-cont:before {
  content: "Loading...";
  color: #fff !important;
  display: block;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 2px;
  width: 100%;
  text-align: left;
}
.lC-cube,
.lC-cube * {
  width: 300px;
  height: 25px;
  position: absolute;
  margin: 0;
}

.lC-cube {
  transform: translate(0, 0);
  border: 2px inset var(--black);
  margin: 0;
}
#loadInfoRHolder {
  font-size: 0px;
}
#loadInfoRHolder:before {
  content: "CSS created by Ghosty";
  font-size: 20px;
  color: #fff !important;
}

.lC-f {
  animation: loader 10s ease forwards;
  background: ghostwhite;
  color: #fff !important;
  padding: 0px;
  margin: 0;
  width: 0;
}

.lds-ring > div {
    visibility: hidden;
}

#lC-img {
    display: none!important;
}

.lC-t {
    display: none!important;
}

.lC-l {
    display: none!important;
}

.lC-r {
    display: none!important;
}

.lC-bt {
    display: none!important;
}

.lC-b {
    display: none!important;
}

@keyframes loader {
  0% {
    width: 0;
  }

  20% {
    width: 10%;
  }

  25% {
    width: 24%;
  }

  43% {
    width: 41%;
  }

  56% {
    width: 50%;
  }

  66% {
    width: 52%;
  }

  71% {
    width: 60%;
  }

  75% {
    width: 76%;
  }

  94% {
    width: 86%;
  }

  100% {
    width: 100%;
  }
}

/* counters */

.topRightCounters {
    position: fixed;
    bottom: 55px;
    right: 15px;
}

.countIcon {
    background-color: transparent;
    border-radius: 0;
    margin-left: 20px;
    margin-bottom: 615px;
    padding: 7px;
}

#deathsVal,
#killsVal,
#livesDisp,
#streakVal,
#myScoreVal {
    color: white !important;
    bottom: 7px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#deathsVal::after,
#killsVal::after,
#streakVal::after,
#myScoreVal::after,
#livesDisp::after {
    display: block;
    position: fixed;
    margin-top: 45px;
    font-size: 14px;
    text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#deathsVal::after {
    content: 'Deaths';
}

#killsVal::after {
    content: 'Kills';
}

#streakVal::after {
    content: 'Streak';
}

#myScoreVal::after {
    content: 'Score';
}

#livesDisp::after {
    content: 'Lives';
}

#killsIcon,
#deathsIcon,
#streakIcon,
#scoreCount .material-icons,
#livesCount .material-icons {
    display: none;
}

.kfItem {
    border-radius: 10px;
    background-color: var(--ingame-bg-color);
}

#killStreakHolder {
    position: fixed;
    bottom: 75px;
	right: 15px;
	margin-right: 0;
    margin-bottom: 0;
}

.killStreakItem {
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.buttonPI, .buttonR, .buttonP {
    border: none !important;
}
